
// .c-nav {
//   background-color: #333 !important;
// }

.c-nav__brand {
  padding: 0.5em 1em;
  height: 3.5em;
  vertical-align: top;
  display: inline-block;

  >img {
    height: 100%;
    width: auto;
    display: block;
  }
}